<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="batchFile">
            <h2><span jhiTranslate="batchApplicationApp.batchFile.detail.title">Batch File</span> {{batchFile.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="batchApplicationApp.batchFile.batchName">Batch Name</span></dt>
                <dd>
                    <span>{{batchFile.batchName}}</span>
                </dd>
                <dt><span jhiTranslate="batchApplicationApp.batchFile.path">Path</span></dt>
                <dd>
                    <span>{{batchFile.path}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/batch-file', batchFile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
